
.rounded {
    border-radius: 25px;
    width: 100px;
    height: 30px;
    background-color: transparent;
    border: 2px solid var(--default-color);
    color: var(--default-color);
}
.rounded:hover {
    border-color: var(--active-color);
    color: var(--active-color);
}