.editInput {
    background-color: transparent;
    color: var(--default-color);
    width: 75%;
    border-radius: 4px;
    border-color: var(--ui-border-color);
}
.editInput:focus {
    outline: none !important;
    border:1px solid var(--ui-border-color-active);
    box-shadow: 0 0 10px #719ECE;
}
.OHIFModal {
    width: 65vh;
}
.OHIFModal__content{
    overflow-y: unset;
    overflow-x: unset!important;
}

.validationButton {
    fill: var(--default-color);
    height: 20px;
    width: 20px;
    margin: 5px;
}
.validationButton:hover {
    fill: var(--active-color);
}

.trashButton {
    fill: var(--default-color);
    height: 20px;
    width: 20px;
    margin: 5px;
}

.trashButton:hover {
    fill: var(--active-color);
}

.buttonDiv {
    display: flex;
    margin-right: 5px;
}

.validationDiv {
    display: flex;
    flex-direction: column;
}

.editDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.editButton {
    fill: var(--default-color);
    height: 20px;
    width: 20px;
    margin: 5px;
}
.editButton:hover {
    fill: var(--active-color);
}

.resultContent {
    display: flex;
    justify-content: space-between;
}

.tableListHeader {
    min-height: 63px;
    overflow: unset!important;
}
.tableList {
    height: 96%!important;
    display: flex;
    flex-direction: column;
}
.tableListContent {
    overflow: auto;
}
::-webkit-scrollbar {
    width: 0.4em
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.00);
    webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.00);
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.1);
    outline: 1px solid var(--ui-border-color-active);
}

.tableListItem.Selected {
    border: solid #14FF92;
}

.tableListItem:hover {
    border: solid var(--active-color);
}
.itemContent {
    font-weight: bold;
    font-size: medium;
}
.selectedResult {
    color: solid var(--active-color);
}
.result{}
.validResult {
    color: #00AF9B;
}
.invalidResult {
    color: red;
}
.resultPanel {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.generateReport {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.generateReportButton {
    border-radius: 5px;
    width: 50%;
    background-color: transparent;
    border: 2px solid var(--default-color);
    color: var(--default-color);

}
.generateReportButton:hover {
    border-color: var(--active-color);
    color: var(--active-color);
}
